/# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.vs
/node_modules
/.pnp
.pnp.js
FE/node_modules
BE/node_modules
#.net
**/bin/
**/obj/
**/appsettings.Development.json
BE/bin/
BE/obj/
BE/Properties/launchSettings.json
BE/appsettings.Development.json


# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
BE/.env
FE/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
